<div class="container h-100 d-flex justify-content-center">
    <h1>
        {{title}}
    </h1>
</div>

<div class="container h-100 d-flex justify-content-center ">
    <button style="margin-right: 16px" routerLink="/view">View</button>
    <button  style="margin-right: 16px" routerLink="">Home</button>
</div>

<router-outlet></router-outlet>